<table>
	<tr>
		<td width="0.5%">
			<% if comment.user.avatar? %>
			<%= image_tag comment.user.avatar.url(:thumb) %>
			<% end %>
		</td>
		<td width="0.5%">
			<%= comment.user.email %>:
		</td>
		<td width="0.5%">
			<%= comment.body.html_safe %>
		</td>
 		</tr>
</table>

