<%= render "layouts/header.html.erb" %>


<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td>    
                <% if comment.user.avatar? %> 
                <%= image_tag comment.user.avatar.url(:thumb) %>
                <% end %>
        </td>
        <td><%= comment.user.email %> : </td> 
        <td><%= comment.body.html_safe %>  </td>
        <td>Post: <%= comment.post.title %>  </td> 
        <hr>
        <td><%= link_to 'Show', comment %> | </td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %> | </td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>  </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>
<%= link_to 'New Comment', new_comment_path %>


