<%= render "layouts/header.html.erb" %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body.html_safe %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment.post %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

 

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>



