


<% if current_user.subs != true %>
If you want to subscribe: <%= link_to 'Sub', '/subscribe', :method => 'patch', class: "btn btn-white"%>
<% else %>
If you want to unsubscribe: <%= link_to 'Unsub', '/unsubscribe', :method => 'patch', class: "btn btn-white" %> 

<% end %>


