<div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            <%= link_to post.title, post_path(post) %>
          </h2>
          </a>

          <h3 class="post-subtitle">
            <%= post.body.html_safe %>
          </h3>

        <p class="post-meta">Posted by
          <%= post.user.email %>,
      <%= time_ago_in_words(post.created_at) %> ago

      <% if current_user.role_id != 3 || post.user.email == current_user.email %>
      <%= link_to "edit", edit_post_path(post), class: 'btn btn-white' %>
      <%= link_to "delete", post_path(post), method: :delete, class: 'btn btn-white' , data: { confirm: "Are you sure?"} %>
      <% end %>
      <%= link_to "comment", "comments#new", class: 'btn btn-white' %>

      
</div>