<%= render "layouts/header" %>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <%= render @posts %>
      <hr>
      <!-- Pager -->
      <div class="clearfix">
        
        <% unless current_user.role_id == 3 %>
           <a class="btn btn-primary float-left" href="posts/new">New Post </a>
        <% end %>
        
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>

<hr>

