<!-- Page Header -->
<header class="masthead" style="background-image: url('<%= root_url %>img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1><%= @post.title %></h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>


<p id="notice"><%= notice %></p>



<p>
  <%= @post.body.html_safe %>
</p>

<p>
	<% if @post.image? %>
	<%= image_tag @post.image.url %>
	<% end %>
</p>

<hr>
Komentari:
<%= render @post.comments %>



<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-white' %> |
<%= link_to 'Back', posts_path, class: 'btn btn-white' %> |
<%= link_to 'Comment', comment_url, class: 'btn btn-white' %>





      <!-- Pager -->
      <div class="clearfix">
      </div>
    </div>
  </div>
</div>



