<tr>
	<td><%= image_tag category.image.url(:medium)%></td>

</tr>
<tr>
	
        <td align="center"><%= link_to category.name, category_path(category), class: 'btn btn-white' %></td>
        <td>Ukupan broj postova: <%= category.post.count %></td>
        <td>Poslednji post kreiran: 
                <% unless !category.post.last %>
                <%= category.post.last.created_at %>
                <% end %>

        </td>
        <% if current_user.role_id == 1 %>
       
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

</tr>