<!-- Page Header -->
<header class="masthead" style="background-image: url('<%= root_url %>img/category-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Categories</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>



<h1 align="center">Kategorije postova</h1>

<table>
  <thead>
    <tr>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody align="center">
    <%= render @categories %>
      
 
  </tbody>
</table>

<br>

<% if current_user.role_id == 1 %> 
<%= link_to 'New Category', new_category_path, class: "btn btn-white"%>
<% end %>


