<%= render "layouts/header.html.erb" %>

	<h2><%=@category.name%></h2>
	<% @posts.each do |post| %>
        
        <!-- Main Content -->
		<div class="container">
		  <div class="row">
    		<div class="col-lg-8 col-md-10 mx-auto">
      		 

    				<div class="post-preview">
     			   <a href="post.html">
          		<h2 class="post-title">
           			 <%= link_to post.title, post_path(post) %>
          		</h2>
          		</a>

          
        			<p class="post-meta">Posted by
      				<%= post.user.email %>,<%= time_ago_in_words(post.created_at) %> ago
              <% if current_user.role_id =! 3 || post.user.email == current_user.email %>
   			    	<%= link_to "edit", edit_post_path(post), class: 'btn btn-white' %>
     	  		 	<%= link_to "delete", post_path(post), method: :delete, class: 'btn btn-white' , data: { confirm: "Are you sure?"} %>
     			  	<% end %>
              <%= link_to 'comment', comment_path(new_comment_url), class: 'btn btn-white' %>

                    
						</div>



      		<hr>


      		<!-- Pager -->
      		<div class="clearfix">
     			</div>
    		</div>
  		</div>
		</div>
<% end -%>

<% if current_user.role_id != 3 %>
<%= link_to 'New Post', post_novi_url, class: 'btn btn-white' %>
<% end %>

<% if current_user.role_id == 1 %>
<%= link_to 'Edit', edit_category_path(@category) %> 
<% end %>
<%= link_to 'Back', categories_path %>

<hr>
