<h1> My Drafts </h1>

<% @draft_posts = current_user.posts.where("published=false") %>
<% @draft_posts.each do |draft| %>


<class="post-title">
    <%= link_to draft.title, edit_post_path(draft) %>
<% end %>