<!-- Page Header -->
<header class="masthead" style="background-image: url('<%= root_url %>img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Jana's Blog</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>