<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top", style="color:grey" id="mainNav">
  <div class="container">
    <a class="navbar-brand" style="color:black"  href="<%= root_url %>">
  
      <!--Logovanje-->
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit', edit_user_registration_path %> |
          <%= link_to "Log out", destroy_user_session_path %>
          
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Log in", new_user_session_path %>
        <% end %>

    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
         <li class="nav-item">
          <a class="nav-link" style="color:black" href="<%= categories_path %>">Categories</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" style="color:black" href="<%= posts_path %>">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:black" href="<%= about_url %>">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:black" href="<%= contact_url %>">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:black" href="<%= account_settings_url %>">Account Settings</a>
        </li>

        <%if current_user.role_id != 3 %>
        <li class="nav-item">
          <a class="nav-link" style="color:black" href="<%= drafts_url %>">My Draft Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:fuchsia" href="<%= new_post_url %>">New Post</a>
        </li>
        <% end %>

      </ul>
    </div>
  </div>

</nav>