<!DOCTYPE html>
<html>

  
  <head>
    <title>Bapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if user_signed_in? %>
    <%= render "layouts/nav.html.erb" %>
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
   <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->

   <!-- Bootstrap core CSS -->
   <link href="<%= root_url%>/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom fonts for this template -->
   <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

   <!-- Custom styles for this template -->
   <link href="<%= root_url%>/css/clean-blog.min.css" rel="stylesheet">


  </head>



  <body>

        <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    <!-- Bootstrap core JavaScript -->
   <script src="<%= root_url%>/vendor/jquery/jquery.min.js"></script>
   <script src="<%= root_url%> /vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

   <!-- Custom scripts for this template -->
   <script src="<%= root_url%>/js/clean-blog.min.js"></script>

   <% if user_signed_in? %>
   <%= render "layouts/footer.html.erb" %>
   <% end %>

  </body>
</html>
